@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
	background: linear-gradient(
		to right,
		#4fd1c5,
		#234e52
	); /* from-teal-300 to-teal-800 */
	background-clip: text;
	-webkit-background-clip: text; /* Ensure cross-browser support */
	color: transparent;
}

body {
	background-color: black;
}

html {
	scroll-behavior: smooth;
}
